nargin: 0;

padding: 1

body display fles

justify-content: center;

Align-items: center; nin-height: 108vh

background whitesme fant-family: Verdana, Geness, Tahoma, sans-serif;

gif ( Neight: 180%; width:

text-align: center;

font-size: 1. Sem

color:

margin: 15px

hts-group

width: 100%;

height: 5px; display: flex;

justify-content: centers

sargin-top: 5px;

position: absolute;

lelight: inherit; color: white; font-size: 1.2em;

border-ratus 300 vutline: none;

carsor: pointers

box-shadow: 2px 4px gray;

border: 2px solid #edi

font-size: 1. Jor

nargin-left: -2881 backarmest edit

nargin-right:2000

background white color: #ellad